body {
    background-image: url("../images/Main_Background.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: black;
}

.main {
    margin: 5%;
    padding: 3%;
    background-color: white;
    border-radius: 3%;
}

nav {
    text-align: center;
    font-size: 30px;
}

h1 { text-align: center;
    padding-bottom: 10px;
}

#cjPreview {
    padding-bottom: 10px;
}

#frankiePreview {
    padding-bottom: 10px;
}

#jienPreview {
    padding-bottom: 10px;
}

img {
    display: block;
    margin: auto;
    width: 40%;
}
a:hover {color: darkblue;}
