body {
    background-image: url("../images/Main_Background.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: black;
}

.main {
    margin: 5%;
    padding: 3%;
    background-color: white;
    border-radius: 3%;
    background: rgba(255,255,255,0.75);
}

nav {
    text-align: center;
    font-size: 30px;
}

h1 { text-align: center;
    padding-bottom: 10px;
}

#cjPreview {
    padding-bottom: 10px;
}

ul{
    list-style: none;
}

#frankiePreview {
    padding-bottom: 10px;
}

#jienPreview {
    padding-bottom: 10px;
}

img {
    display: block;
    margin: auto;
    width: 40%;
}
a:hover {color: darkblue;}

footer {
    color: black;
    font-size: medium;
    font-weight: 100;
    background:white;
    
    background: rgba(255,255,255,0.25);
     
}
