body
{
	background-image: url("../images/Main_Background.jpg");
	background-size: cover;
	background-attachment: fixed;
}

.main
{
	margin: 5%;
	padding: 3%;
	background-color: white;
	opacity: 0.8;
	border-radius: 3%;
}